.content{
    width: 100%;
    /* height: 100vh; */
    position: relative;
    background-color: #cdcdcd;
    z-index: 1;
    min-height: 510px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    flex-direction: column;
}